<h1>Add tourist to flight</h1>

<hr />

<form class="form-horizontal" [formGroup]="addTouristForm" (ngSubmit)="onSubmit()">
  <div class="form-group row">
    <label class="col-md-4 col-form-label">Choose tourist</label>
    <div class="col-md-4">
      <select formControlName="id" class="form-control custom-select">
        <option *ngFor="let tourist of tourists" [value]="tourist.id">
          {{ tourist.firstName + ' ' + tourist.lastName +
          ', ' + tourist.country + ', ' + tourist.dateOfBirth }}
        </option>
      </select>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary">Add tourist</button>
</form>
