<h1>{{ tourist?.firstName }} {{ tourist?.lastName }}</h1>

<hr />

<h4>Gender</h4>
<p>{{ tourist?.gender == "MALE" ? "Male" : "Female" }}</p>

<h4>Country</h4>
<p>{{ tourist?.country }}</p>

<h4>Date of birth</h4>
<p>{{ tourist?.dateOfBirth }}</p>

<h4>Remarks</h4>
<p>{{ tourist?.remarks }}</p>

<app-tourist-flights [id]="id"></app-tourist-flights>

<hr />

<form (ngSubmit)="onSubmit()">
  <button type="submit" class="btn btn-primary">Delete tourist</button>
</form>
<button routerLink="add" class="btn btn-primary">Add a flight</button>
<button routerLink="remove" class="btn btn-primary">Remove a flight</button>
