<header>
  <nav class="navbar navbar-expand-sm navbar-dark info-color">
    <a class="navbar-brand" href="#">{{ appTitle }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/tourists">Tourists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" routerLink="/flights">Flights</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
