<h1>List of tourists</h1>

<hr />

<p class="alert-info" *ngIf="!tourists?.length">No tourists found.</p>

<table class="table table-hover" mat-table [dataSource]="tourists" matSort *ngIf="tourists?.length">
  <ng-container matColumnDef="id">
    <th *matHeaderCellDef mat-sort-header> Id </th>
    <td *matCellDef="let tourist"> {{tourist.id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th *matHeaderCellDef> First name </th>
    <td *matCellDef="let tourist"> {{tourist.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th *matHeaderCellDef> Last name </th>
    <td *matCellDef="let tourist"> {{tourist.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="dateOfBirth">
    <th *matHeaderCellDef> Date of birth </th>
    <td *matCellDef="let tourist"> {{tourist.dateOfBirth}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="routeToTourist(row.id)"></tr>
</table>

<hr />

<button routerLink="add" class="btn btn-primary mr-1">Add new tourist</button>
<!--<button (click)="addTheTourist()" class="btn btn-info">Add Gary</button>-->
